# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Build artifacts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Sass folder (doar referinta locala, nu face parte din proiect)
sass/
